html body{
		background-image: url("https://i.imgur.com/WrY9oZR.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
  		background-attachment: fixed;
	}
	.centered-text{
		font-family: Agency FB;
		text-align: center;
		color: white;
		margin-top: -20px;
		margin-left: -19px;
		text-shadow: 8px 8px black;
	}
	.fancy-text{
		font-family: Lobster;
		font-size: 24px;
		margin-top: 0px;
		text-shadow: 0px 0px black;
	}
	.zoom {
 	padding: 20px;
 	margin-bottom: 50px;
 	margin-right: 20px;
  	transition: transform .2s; /* Animation */
  	width: 100px;
  	height: 100px;
  	color:white ;
	}

	.zoom:hover {
  	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	color: dark-blue;
	}
	#right-tabbed{
		text-align: right;
	}
	#navigbar{
		font-family: Agency FB; 
		font-size: 20px;
		margin-bottom: -7px
	}
	
	}
</style>
