html body{
		background-image: url("https://i.imgur.com/WrY9oZR.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
  		background-attachment: fixed;
	}
	.centered-text{
		font-family: Agency FB;
		text-align: center;
		color: white;
		margin-top: -20px;
		margin-left: -19px;
		text-shadow: 5px 5px black;
	}
	.fancy-text{
		font-family: Lobster;
		font-size: 18px;
		margin-top: 0px;
		text-shadow: 0px 0px black;
	}
	#right-tabbed{
		text-align: right;
	}
	#navigbar{
		font-family: Agency FB; 
		font-size: 20px;
		margin-bottom: -7px
	}
	
	}
</style>
