html body{
		background-image:  url('background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
  		background-attachment: fixed;
}
	.centered-text{
		font-family: Arial Narrow;
		text-align: center;
		color: #003366;
		margin-top: -20px;
		margin-left: -19px;
		outline-color: black;
	}
	.fancy-text{
		font-size: 2vw;
		margin-top: 0px;
		text-shadow: 0px 0px black;
	}
.footer {
     position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
   font-size: 10vw; 
   padding-top: 5vw;
   }

	.zoom {
  	color: white ;
    margin: -1vw;
	}

	.zoom:hover {
  	transform: scale(1.3); 
	color: dark-blue;
	
	}
	#NAVID{
	 font-family: Agency FB; 
	 font-size: 41px;
	 font-weight: bold; 
	 color:white;
}
	#right-tabbed{
		text-align: right;
	}
	#navigbar{
		font-family: Arial Narrow; 
		font-size: 2vw;
		padding-top: 0vw;
		padding-bottom: 0vw;
		background-color: #003366;
	}
	a:hover{
    text-decoration: none;
}
	
	
